extends layout
include _includes/sharedHTMLfunctions

block content
    .row.banner 
        .col-12 
            h1= pageHeader.title 
                small #{pageHeader.strapline}
    .row 
        .col-12.col-md-8
            .error= message

            app-home-list
        
        // 사이드바 내용을 .col-md-4 위치로 이동하여 좌우 정렬을 유지
        .col-12.col-md-4
            p.lead= sidebar

    block scripts
        script(src='/build/main.877339582e28d436.js')
        script(src='/build/polyfills.05600847d04151be.js')
        script(src='/build/runtime.e4985b6c090739db.js')
        
